{% extends 'base.html' %}

{% block content %}
<div class="m-5">
  <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless src="https://share.transistor.fm/e/python-community-podcast/latest"></iframe>
</div>
<div class="m-5">
    <h1 class="font-thin text-3xl my-1">What is {{SITE_TITLE}}?</h1>
    <div class="m-5">
    <p class="my-3"> {{SITE_TITLE}} is a podcast, livestream, and newsletter that focuses on the <strong>Non-Pipable</strong> news in the Python Community.</p>
     <p class="my-3">Join Jon Banafato, experienced conference organizer, and Jay Miller, community organizer and advocate, each week as they look at the top stories affecting Pythonistas around the world.</p>
     <p class="my-3">You can tune in live every friday at 6pm EST/3pm PST. If you miss us live you can check out the <a class="underline" href="https://pythoncommunitynews.transistor.fm">podcast</a> or watch the <a class="underline" href="https://www.youtube.com/watch?v=_xyKDQJxNOg&list=PLfDBFPSIcChU5ASV-9ysy-oJKDSa1-co9">VODs on Youtube</a>.</p>
  </div>
</div>
<div class="m-5">
  <h2 class="text-xl">Subscribe to our newsletter</h2>

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/python-community-news"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/python-community-news', 'popupwindow')"
      class="embeddable-buttondown-form m-3 p-3 border rounded"
    >
      <label for="bd-email">Enter your email</label>
      <input class="w-3/4 border rounded" type="email" name="email" id="bd-email" />
      <input class="bg-blue-400 text-blue-700 font-black rounded p-2" type="submit" value="Subscribe" />
      <p class="text-xs">
        <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
      </p>
    </form>
</div>
</div>
{% endblock content %}
